
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
</head>
<body>
    <div>
        <h1> Crear Proveedor</h1>
        <p>========================================</p>
        @Html.ActionLink("Listado de Proveedores", "Listado", "Proveedores")
        <br />
        @Html.ActionLink("Inicio", "Index", "Home")
     

    </div>
</body>
</html>
