
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Proveedores</title>
    <p>===============================================</p>
    @Html.ActionLink("Crear Proveedor", "Crear", "Proveedores")
    <br />
    @Html.ActionLink("Inicio", "Index", "Home")
</head>
<body>
    <div> 
    </div>
</body>
</html>
