
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Cliente</title>
    <p>***************************************************</p>
    @Html.ActionLink("Listado de Clientes", "Listado", "Clientes")
    <br />
    @Html.ActionLink("Inicio", "Index", "Home")

</head>
<body>
    <div> 
    </div>
</body>
</html>
