
@{ViewBag.Title = "Listado";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado</title>
</head>
<body>
    <div>
        <h1>Listado de Clientes</h1>
        <p>**********</p>
        @Html.ActionLink("Crear Clientes", "Crear", "Clientes")
        <br />
        @Html.ActionLink(" pagina principal", "Index", "Home")
   
    </div>
</body>
</html>
